body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f2f5f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: grey;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 45px;
  /* height: 60px; */
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
  margin-top: 0;
}

.highlight {
  border-left: 6px solid #2ecc71;
  background: #f8fff9;
}

pre {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #666;
}
